<div class='swiper-slide'>
	<article class="portfolio-item _black-color _roboto-font">
		<a href="@@ref" class="portfolio-item__preview _cover-img" target="_blank">
			<img src="img/works/@@imgName.jpg" loading='lazy' alt='Интернет-магазин Kjølig' width=600 height=600>
		</a>
		<h3 class="portfolio-item__title _bold">@@title</h3>
		<p class="portfolio-item__other">@@other</p>
		<a data-open-modal-id="@@imgName" type="button" class="portfolio-item__about-btn _medium">Подробнее</a>
	</article>
</div>